@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@700&display=swap');
@import 'https://fonts.googleapis.com/css?family=Baloo+Paaji';

#header {
    /* height: 100vh; */
    padding-top: 4rem;
}

.header__container {
    height: 100%;
    position: relative;
}

/* ==================== CTA ==================== */

.cta {
    margin-top: 3.5rem;
    display: flex;
    gap: 1.5rem;
}

/* ==================== HEADER SOCIALS ==================== */

.header__socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    position: absolute;
    left: 0;
    bottom: 3rem;
}

.header__socials::after {
    content: "";
    width: 1px;
    height: 2rem;
    background: var(--color-primary);
}

/* ==================== SCROLL DOWN ==================== */

.scroll__down {
    position: absolute;
    right: -2.3rem;
    bottom: 5rem;
    transform: rotate(90deg);
    font-weight: 300;
    font-size: 0.9rem;
}

/* ==================== ME ==================== */
.explained__me-box {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.explained__text {
    margin-top: 1rem;
    margin-right: 0.5rem;
    padding-left: 1.5rem;
    /* min-width: 500px; */
    width: 500px;
}

.short-desc-box {
    margin-top: 45px;
    margin-bottom: 50px;
    padding: 20px;
    width: 420px;
}

.short-desc {
    position: relative;
    padding: 30px;
    margin-bottom: 50px;
    font-size: 1rem;
    color: #757a79;
    line-height: 1.3rem;
    /* text-align: right; */
}

.short-desc::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    display: block;
    background-color: #9fd3c7;
    z-index: -1;
}

.short-desc::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 1px;
    right: 1px;
    display: block;
    background-color: #e3f6f5;
    z-index: -1;
}

.short-desc p {
    margin-top: 10px;
}

.short-desc-highlight {
    color: #6f7777;
    font-weight: bold;
    font-size: 1.4rem;
}

.desc-click {
    padding: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 40px;
    font-size: 1.3rem;
    /* border: 1px solid wheat; */
}

.desc-click-icon-box {
    /* border: 1px solid wheat; */
    height: 35px;
    width: 35px;
    background-color: #ffb43b;
    border-radius: 50%;
    margin-left: 10px;
    font-size: 25px;
    animation: goLeftRight 1s ease-in-out infinite;
    transition: var(--transition);
    padding-left: 5px;
}

@keyframes goLeftRight {
    0%, 100% {
        transform: translateX(0)
    }
    50% {
        transform: translateX(5px)
    }
}

.link-online-resume {
    position: relative;
    margin-top: 3rem;
    padding: 15px 22px;
    transition: all .2s ease;
    width: 18rem;
    cursor: pointer;
    color: white;
}

.link-online-resume::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    border-radius: 28px;
    background: var(--color-primary);
    width: 56px;
    height: 56px;
    transition: all .3s ease;
}

.link-online-resume span {
    position: relative;
    font-size: 16px;
    line-height: 18px;
    font-weight: 900;
    letter-spacing: .25em;
    text-transform: uppercase;
    vertical-align: middle;
}

.link-online-resume:hover::before {
    width: 100%;
    background: #ffb43b;
}

/* ==================== Me Image Effects ==================== */
.cards {
    /* border: 1px solid white; */
    width: 500px;
    height: 680px;
    display: block;
    background-size: cover;
    float: left;
    border-radius: 15px;
    position: relative;
    overflow: hidden;
    background-position: center;
    margin: 10px;
}

.img__me {
    max-width: 100%;
    height: 100%;
}

.cards__me {
    position: relative;
    /* z-index: 10; */
}

.cards__me:hover .cards__me__react-1 {
    left: 15%;
}

.cards__me:hover .cards__me__react-1 .react-1__shadow {
    left: -20%;
}

.cards__me:hover .cards__me__react-2 {
    left: 70%;
}

.cards__me:hover .cards__me__react-2::before {
    left: -100%;
}

.cards__me:hover .cards__me__react-2::after {
    left: 100%;
}

.cards__me:hover .cards__me__react-2 .react-2__shadow {
    left: -10%;
}

.cards__me:hover .cards__me__circle {
    transform: scale(1);
}

.cards__me:hover .cards__me__circle::before {
    transform: scale(0.9);
}

.cards__me:hover .cards__me__list li {
    transform: translateX(0);
}

.cards__me:hover .cards__me__list li:hover {
    cursor: pointer;
}

.cards__me__react-1 {
    background: #fff;
    width: 250px;
    height: 110px;
    transform: skewX(-20deg);
    display: block;
    position: absolute;
    top: 75%;
    opacity: 0.9;
    left: -100%;
    /* z-index: 8; */
    transition: all 0.5s ease-in;
}

.cards__me__react-1 p {
    font-size: 20px;
    font-weight: bolder;
    color: #fff;
    transform: skewX(20deg);
    line-height: 6rem;
}

.cards__me__react-1 .react-1__shadow {
    background: #9b1308;
    width: 280px;
    height: 100px;
    display: block;
    position: absolute;
    left: -200%;
    top: -5%;
    z-index: -1;
    transition: all 0.3s ease-in;
}

.cards__me__react-2 {
    width: 100px;
    height: 70px;
    background: #fff;
    position: absolute;
    top: 60%;
    left: 1000%;
    opacity: 0.9;
    transform: skewX(-20deg);
    /* z-index: 8; */
    transition: all 0.5s ease-in;
}

.cards__me__react-2::before {
    content: "";
    display: block;
    width: 50px;
    height: 40px;
    background: #57ccfd;
    opacity: 1;
    position: absolute;
    left: 500%;
    top: 10%;
    transition: all 0.3s ease-in;
}

.cards__me__react-2::after {
    content: "";
    display: block;
    width: 50px;
    height: 40px;
    background: #9b1308;
    opacity: 1;
    position: absolute;
    left: 500%;
    top: 150%;
    transition: all 0.5s ease-in;
    transition-delay: 0.2s;
}

.cards__me__react-2 .react-2__shadow {
    background: #57ccfd;
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: -10%;
    left: 500%;
    transition: all 0.5s ease-in;
    transition-delay: 0.2s;
}

.cards__me__circle {
    width: 220px;
    height: 220px;
    border-radius: 50%;
    background: #fff;
    position: absolute;
    top: -15%;
    left: 50%;
    opacity: 0.9;
    transform: scale(0);
    transition: all 0.3s ease;
}

.cards__me__circle::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background: #9b1308;
    border-radius: 50%;
    transform: scale(0);
    transition: all 0.3s ease;
    transition-delay: 0.2s;
}

.cards__me__list {
    list-style: none;
    position: absolute;
    top: -9px;
    right: 90px;
    padding-top: 60px;
    transition: all 0.4s ease;
}

.cards__me__list li {
    display: inline-block;
    margin: 5px;
    color: #fff;
    width: 25px;
    height: 25px;
    border-radius: 50px;
    background: rgba(87, 204, 253, 0.9);
    text-align: center;
    line-height: 1.7rem;
    font-size: 12px;
    transition: all 0.3s ease;
    transform: translateX(800%);
}

.cards__me__list li:nth-child(1) {
    transition-delay: 0.2s;
}

.cards__me__list li:nth-child(2) {
    transition-delay: 0.3s;
}

.cards__me__list li:nth-child(3) {
    transition-delay: 0.4s;
}

/* ============ Media Queries (Medium Devices) ============ */
@media screen and (max-width: 1024px) {
    #header {
        height: 100%;
        margin-bottom: 10rem;
        padding-top: 1.5rem;
    }
    
    .explained__me-box {
        gap: 0;
    }

    .explained__text {
        width: 400px;
        /* min-width: 400px; */
    }

    .explained__text-effect {
        margin-top: 2rem;
    }

    .explained__text-effect:hover {
        font-size: 3.4rem;
    }
    
    .text-me {
        font-size: 3rem;
        line-height: 3.2rem;
    }

    .text-me span:nth-child(1) {
        color: #b9b9b9;
        font-size: 5rem;
    }

    .link-online-resume {
        margin-top: 2rem;
        padding-top: 10px;
        width: 16rem;
    }

    .link-online-resume::before {
        width: 45px;
        height: 45px;
    }

    .link-online-resume span {
        font-size: 14px;
    }

    .cta {
        margin-top: 2.5rem;
    }
    
    .short-desc-box {
        width: 350px;
    }

    .short-desc {
        font-size: .8rem;
    }

    /* ==================== Me Image Effects ==================== */
    .cards__me__list {
        top: -20px;
        right: 65px;
    }

    .cards__me__list li {
        margin: 8px;
    }
}

/* ============ Media Queries (Small Devices) ============ */
@media screen and (max-width: 600px) {
    #header {
        margin-top: 0;
        margin-bottom: 5rem;
        height: 100%;
        /* border: 1px solid white; */
    }

    .header__container {
        width: var(--container-width-sm);
        /* border: 1px solid white; */
    }
    
    .header__socials, .scroll__down {
        display: none;
    }
    
    .explained__me-box {
        flex-direction: column;
        justify-content: center;
        gap: 4rem;
        /* border: 1px solid white; */
    }
    
    .explained__text {
        margin: 0;
        padding: 0;
        width: 100%;
    }
    
    .cta, .explained__text-effect, .text-me {
        width: var(--container-width-sm);
    }
    
    .explained__text-effect:hover {
        font-size: 3.2rem;
    }

    .short-desc-box {
        width: 330px;
    }

    .short-desc {
        font-size: .8rem;
    }

    .desc-click-icon-box {
        /* border: 1px solid wheat; */
        animation: goUpDown 1s ease-in-out infinite;
    }

    .desc-click-icon {
        transform: rotate(90deg);
    }
    
    @keyframes goUpDown {
        0%, 100% {
            transform: translateY(0)
        }
        50% {
            transform: translateY(5px)
        }
    }

    /* ==================== Me Image Effects ==================== */
    .cards {
        width: 330px;
        height: 500px;
    }

    .cards__me__react-1 {
        width: 200px;
        height: 70px;
    }

    .cards__me__react-1 .react-1__shadow {
        width: 205px;
        height: 60px;
    }

    .cards__me:hover .cards__me__react-1 .react-1__shadow {
        left: -10%;
    }

    .cards__me__react-1 p {
        font-size: 15px;
        line-height: 3rem;
    }

    .cards__me__react-2 {
        width: 70px;
        height: 40px;
    }

    .cards__me__react-2::before {
        width: 35px;
        height: 30px;
        top: 50%;
    }

    .cards__me__react-2::after {
        width: 35px;
        height: 30px;
    }

    .cards__me__circle {
        width: 170px;
        height: 170px;
    }

    .cards__me__list {
        top: -30px;
        right: 30px;
    }
}