.container.experience__container {
    width: 55%;
}

.experiences {
    background: var(--color-bg-variant);
    padding: 4rem;
    border-radius: 2rem;
    user-select: none;
    display: flex;
}

.experience__title {
    text-align: left;
    width: 35%;
    margin: 0 0.5rem 0.8rem 0.8rem;
}

.experience__review{
    color: var(--color-light);
    font-weight: 400;
    font-size: 15px;
    text-align: left;
    display: block;
    width: 60%;
    margin: 0 auto 1rem;
}

.experience__detail-icon {
    margin: 5px 0 1px 0;
    color: var(--color-primary);
}

/* ============ Media Queries (Medium Devices) ============ */
@media screen and (max-width: 1024px) {
    .container.experience__container {
        width: 60%;
    }
}

/* ============ Media Queries (Small Devices) ============ */
@media screen and (max-width: 600px) {
    .container.experience__container{
        width: var(--container-width-sm);
    }

    .experiences {
        flex-direction: column;
    }

    .experience__title {
        display: flex;
        flex-direction: row;
        width: 100%;
    }

    .experience__detail-icon {
        margin-right: 1rem;
    }

    .experience__review {
        width: var(--container-width-sm);
        font-size: 13px;
    }
}