.container.experience__container {
    width: 70%;
    height: 400px;
}

.experiences {
    background: var(--color-bg-variant);
    padding: 4rem;
    border-radius: 2rem;
    user-select: none;
    display: flex;
    flex-direction: column;
    
}

.experience__title {
    display: flex;
    flex-direction: row;
    margin-bottom: 0.5rem;
}

.experience__review{
    color: var(--color-light);
    font-weight: 400;
    font-size: 15px;
    text-align: left;
    width: 100%;
    height: 2rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 0 auto 1rem;
}

.experience__detail-icon {
    margin: 5px 1rem 1px 0;
    color: var(--color-primary);
}

.experience__read-more {
    margin-top: 0.5rem;
    display: flex;
}

.experience__tools{
    margin-top: 1rem;
}

.tool-icon {
    display: inline-block;
}

.tool-icon span {
    margin-right: 5px;
}

/* ====================== READ MORE ====================== */
.read-more__container {
    position: absolute;
    margin-top: -4rem;
    margin-left: -4rem;
}

.read-more__background {
    position: inherit;
    background-color: black;
    border-radius: 33px;
    width: 100%;
    height: 400px;
    opacity: 0.5;
    z-index: -1;
}

.read-more__icon-box {
    position: inherit;
    width: 100%;
    margin: 1.5rem 0 0 1.5rem;
    cursor: pointer;
    z-index: 2;
}

.read-more__contents{
    height: 400px;
    margin: 4rem;
    z-index: 4;
    transition: var(--transition);
}

.tool-icon {
    background: var(--color-primary-variant);
    border: 1px solid var(--color-primary-variant);
    border-radius: 20px;
    width: max-content;
    padding: 0 1rem 0 1rem;
    margin-top: 1rem;
    margin-right: 1rem;
}

/* ============ Media Queries (Medium Devices) ============ */
@media screen and (max-width: 1024px) {
    .container.experience__container {
        width: 80%;
    }
}

/* ============ Media Queries (Small Devices) ============ */
@media screen and (max-width: 600px) {
    .container.experience__container{
        width: var(--container-width-sm);
    }

    .experiences {
        flex-direction: column;
    }

    .experience__title {
        display: flex;
        flex-direction: row;
        width: 100%;
    }

    .experience__detail-icon {
        margin-right: 1rem;
    }

    .experience__review {
        width: var(--container-width-sm);
        font-size: 13px;
    }
}