.container.experience__container {
    width: 65%;
}

.experiences {
    background: var(--color-bg-variant);
    text-align: center;
    padding: 2rem;
    border-radius: 2rem;
    user-select: none;
    display: flex;
}

.experience__title {
    text-align: left;
    width: 40%;
    margin: 0 0 0.8rem 0.8rem;
}

.experience__review{
    color: var(--color-light);
    font-weight: 300;
    display: block;
    width: 80%;
    margin: 0 auto 0;
}

.experience__detail-icon {
    margin-top: 5px;
    color: var(--color-primary);
}

/* ============ Media Queries (Medium Devices) ============ */
@media screen and (max-width: 1024px) {
    .container.experience__container {
        width: 60%;
    }
}

/* ============ Media Queries (Small Devices) ============ */
@media screen and (max-width: 600px) {
    .container.experience__container{
        width: var(--container-width-sm);
    }
    .experience__review {
        width: var(--container-width-sm);
    }
}